div {
	border-radius: 5px;
}

#header {
	margin: 0 auto;
	height: 70px;
	width: 100%;
	text-align: center;
	padding-top: 30px;
}

a {
	text-decoration: none;
}

table {
	margin: auto;
}

.pixel {
 	width: 30px;
 	height: 30px;
 	border: 1px solid black;
 }

 .color {
 	background-color: black;
 }